.difficulty {
    min-width: 65px;
    margin-right: 10px;
  }
  
  .label.difficulty {
    padding: 0.6em;
    color: #fbfdfa;
    font-size: 12px;
  }
  
  .description{
    font-size: 1.0em;
  }

  .description{
     margin-top:0.6em;
     margin-left:2em;
     padding: 1.2em 1.5em;
  }
  
  .title {
    font-size: 1.4em;
  }
  
  .diff-easy {
    background-color: #2946eb;
  }
  
  .diff-medium {
    background-color: #03701e;
  }
  
  .diff-hard {
    background-color: #e44242;
  }
  
  .diff-super {
    background-color: #5b2780;
  }